---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
---

<html lang="en">
	<head>
		<MainHead title="About | Merle Self" description="About Merle Self" />
		<style>
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;
			}

			.heroImg img {
				width: 100%;
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
				margin-top: 4em;
			}

			.wrapper.bio {
				max-width: 50em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1 class="">About Merle</h1>
			<div class="heroImg">
				<img width="1400" height="350" src="/public/assets/dreamy.jpeg" />
			</div>
			<div class="bio wrapper">
				<p>
					Hey there! I’m Merle, a Junior Fullstack Software Engineer, and I'm
					currently looking for my first job as a Dev! Prior to my time in tech
					I’d been working in Staff Management within the broader world of
					customer service, and speciality coffee. During that time I managed
					staff's as small as 8, and as large as 100 employees. I loved being
					able to help staff members develop professionally and personally.
					However over the last three years I’ve done a lot of introspection,
					identifying my interests for the future of my career, and seeing how I
					can apply these to my desire to participate in sustainable, and
					impactful work. I’ve always been fascinated with the key role that
					technology has played in the world of information equity, and its
					ability to change the landscape of many different industries. I'm
					extremely happy that reconsidering my path lead me to code. I've
					always been a very curious person, and seek out new subjects to
					immerse myself in. In August of 2021 I decided to leave my previous
					postion, and spend then next few months prepping myself on JS
					fundementals before applying to the Grace Hopper program, through Full
					Stack Academy. After being accepted into the program, I spent January
					through April 2022 learning modern JS web development, focusing on
					React, Node, Redux, and PostgreSQL. It's been both a challenge and a
					joy to learn Javascript development to say the least. Since graduating
					in April, I've been focusing on personal projects, and exposing myself
					to new frameworks and languages such as Ruby on Rails, Typescript, and
					Next. I'm looking forward to all the new opportunities that are to
					come!
				</p>
				<p>
					In my personal life I really love to create, and engage with my
					various hobbies. I'm and avid plant collector, caring for upwards of
					70 plants. Learning about plant care and other aspects of Botany is
					something that I'm very passionate about. I'm also a self tought fiber
					artist; learning croceht at 14, later focusing on knitting,
					embroidery, macrame, collage, decopage, and drawing. I also love
					spending time at home with my cat, Homefries, and my step-dog, Pepper.
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
